.container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open sans';
}
.newsletter-form h3 {
  margin-top: 0px;
}
.newsletter-form {
  color: gray;
  border: solid thin #cfcfcf;
  padding: 10px;
  border-radius: 3px;
  position: relative;
  margin-top: 40px;
}
.closing-x {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
}
#mail {
  Display: block;
  width: 100%;
  height: 30px;
  border: solid thin #cfcfcf;
  border-radius: 3px;
  padding-left: 5px;
  Box-sizing: border-box;
}
.newsletter-form buttom {
  Display: block;
  width: 100%;
  height: 30px;
  margin-top: 5px;
  text-align: center;
  background: #3cb878;
  border: 0;
  color: white;
}
#terms {
  position: relative;
  top: 1px;
  left: 0px;
}
#question-circle {
  height: 100px;
  width: 100px;
  background: #3cb878;
  border-radius: 50%;
  color: white;
  font-size: 70px;
  text-align: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.card {
  width: 180px;
  background: #3cb878;
  text-align: center;
  padding-top: 20px;  
  padding-bottom: 5px;
  color: white;
  box-shadow: 0px 0px 3px 2px grey; 
}
.card-holder {
  display: flex;
  justify-content: space-between;
  
}